header {
  position: relative;
}

.navbar-brand img {
  height: 200px;
  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    height: $header-logo-height-xs;
  }
}

.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #006699;
}

.nav-link {
  color: white;
}

nav a:hover {
  color: #ededed;
}

.myNav {
  height: 70px;
}

.bib-cat {
  margin-left: 10px;
}

