//#loginDropdownMenu, #logoutDropdownMenu {
//  min-width: 330px;
//  z-index: 1002;
//}
//
//#loginDropdownMenu {
//  min-height: 260px;
//}
//
//.dropdown-item.active, .dropdown-item:active,
//.dropdown-item:hover, .dropdown-item:focus {
//  background-color: transparent !important;
//}
//
//.dropdown-container {
//  background-color: white;
//}

div a:hover {
  color: #ededed;
}

.navbar-nav {
  color: white;
}

.nav-item {
  color: white;
}

.px-1 {
  color: white;
}
