<!--<div class="wrapper">-->

<!--  &lt;!&ndash;  Sidebar&ndash;&gt;-->
<!--  <nav id="sidebar">-->
<!--    <div class="sidebar-header">-->
<!--      <h3>Sidebar</h3>-->
<!--    </div>-->

<!--    <ul class="list-unstyled components">-->
<!--      <p>reposiTUm</p>-->
<!--      <li class="active">-->
<!--        <a href="#openAccessJournalsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Open-->
<!--          Access Journals</a>-->
<!--        <ul class="collapse list-unstyled" id="openAccessJournalsSubmenu">-->
<!--          <li><a href="">Journal for Facility Management</a></li>-->
<!--          <li><a href="">The Public Sector</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#openAccessSeriesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Open-->
<!--          Access Series</a>-->
<!--        <ul class="collapse list-unstyled" id="openAccessSeriesSubmenu">-->
<!--          <li><a href="">Geowissenschaftliche Mitteilungen</a></li>-->
<!--          <li><a href="">Recent notes on labor science and organization</a></li>-->
<!--          <li><a href="">Proceedings SAP Academic User Group Meetings</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#refineContentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Refine-->
<!--          Content</a>-->
<!--        <ul class="collapse list-unstyled" id="refineContentSubmenu">-->
<!--          <li><a href="">Faculties of TU Wien</a></li>-->
<!--          <li><a href="">Document Type</a></li>-->
<!--          <li><a href="">New Additions</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#informationSubmenu" data-toggle="collapse" aria-expanded="false"-->
<!--           class="dropdown-toggle">Information</a>-->
<!--        <ul class="collapse list-unstyled" id="informationSubmenu">-->
<!--          <li><a href="">FAQs</a></li>-->
<!--          <li><a href="">Upload Document</a></li>-->
<!--          <li><a href="">Collection Policy/Terms of Use</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->

<!--  &lt;!&ndash;    Page Content&ndash;&gt;-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container-fluid">-->

<!--      <button type="button" id="sidebarCollapse" class="btn btn-info">-->
<!--        <i class="fas fa-align-left"></i>-->
<!--        <span></span>-->
<!--      </button>-->

<!--    </div>-->
<!--  </nav>-->
<!--</div>-->



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">

      <div>
        <img class="boxes-img" src="assets/images/boxes.svg" alt="" />
        <h1 class="display-3">Welcome to reposiTUm, the TU Wien institutional repository</h1>
        <p class="lead">With this service, the Library provides a platform for TU Wien researchers to publish their scientific works under Open Access conditions. The publications are archived, provided with a persistent identifier (URN) so that they can be reliably referenced, and made available worldwide online.</p>
        <p class="lead">As of 2016, electronic versions of TU Wien theses are stored on this document server as well.</p>
        <p>University staff of TU Wien are invited to deposit their research documents in reposiTUm. Most publishers permit authors to make their manuscripts open access in repositories. For details of journal embargo periods, check
          <a href="http://www.sherpa.ac.uk/romeo/index.php">SHERPA/RoMEO.</a></p>
        <p>For more information, please contact us at <a href="mailto:repositum@tuwien.ac.at">repositum@tuwien.ac.at</a></p>
      </div>
    </div>
  </div>
</div>
