//:host {
//    display: block;
//    margin-top: -$content-spacing;
//    margin-bottom: -$content-spacing;
//}

.display-3 {
  word-break: break-word;
}

.container {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.boxes-img {
  padding-right: 50px;
  height: 220px;
  width: 220px;
}

.display-3 {
  padding-top: 18px;
  font-size: 2.6rem;
  padding-bottom: 18px;
}

.jumbotron {
  border: 1px solid darken(#f8f9fa, 10%);
  background-color: #f8f9fa;
}

.container {
  background-color: #f8f9fa;
}
