<ds-loading *ngIf="isLoading" message="Loading..."></ds-loading>
<ds-form *ngIf="!isLoading && formModel" #formRef="formComponent"
         [formId]="formId"
         [formModel]="formModel"
         [displaySubmit]="false"
         (dfChange)="onChange($event)"
         (dfFocus)="onFocus($event)"
         (remove)="onRemove($event)"
         (removeArrayItem)="onRemove($event)"></ds-form>
<!--<ngb-accordion #acc="ngbAccordion"
               (panelChange)="onChange($event)">
  <div *ngFor="let item of panelData">
    <ngb-panel  title={{item.panelTitle}}>

      <ng-template ngbPanelContent>

        <div *ngFor="let panelItemName of item.panelItemNames">
          <label>
            <input type="text">
            % {{panelItemName}}
          </label>
        </div>
      </ng-template>

    </ngb-panel>
  </div>

</ngb-accordion>-->



