<section class="pre-footer">
  <div class="container">
    <div class="row">
      <ul class="list-unstyled col-md">
        <li><a href="https://www.uni-hamburg.de/en/campuscenter.html">Academic affairs</a></li>
        <li><a href="https://www.uni-hamburg.de/en/forschung.html">Research</a></li>
        <li><a href="https://www.uni-hamburg.de/en/internationales.html">International affairs</a>
        </li>
        <li><a href="https://www.uni-hamburg.de/en/uhh.html">University</a></li>
        <li><a
          href="https://www.uni-hamburg.de/en/uhh/organisation/fakultaeten-fachbereiche.html">Faculties</a>
        </li>
      </ul>
      <ul class="list-unstyled col-md">
        <li><a target="_blank"
               href="https://www.uni-hamburg.de/en/newsroom/presse/publikationen/apps.html">Apps</a>
        </li>
        <li><a href="https://www.uni-hamburg.de/onTEAM/campus/index_e.html">Campus Navigator</a>
        </li>
        <li><a href="https://www.uni-hamburg.de/en/uhh/stellenangebote.html">Jobs</a></li>
        <li><a href="https://www.uni-hamburg.de/uhh/organisation/stabsstellen/recht/wahlen.html">University
          elections</a></li>
        <li><a href="https://www.uni-hamburg.de/en/service/weiterbildung.html">Continuing
          studies</a></li>
        <li><a href="https://www.uni-hamburg.de/en/sitemap.html">Site map</a></li>
        <li><a href="https://www.uni-hamburg.de/en/abisz.html">Index A to Z</a></li>
      </ul>
      <ul class="list-unstyled col-md">
        <li><a class="zielgruppe"
               href="https://www.uni-hamburg.de/en/campuscenter/studienorientierung.html">Prospective
          students</a></li>
        <li><a class="zielgruppe"
               href="https://www.uni-hamburg.de/en/campuscenter.html">Students</a></li>
        <li><a class="zielgruppe"
               href="https://www.uni-hamburg.de/en/campuscenter/bewerbung/international.html">International
          prospective students</a></li>
        <li><a class="zielgruppe"
               href="https://www.uni-hamburg.de/en/forschung/nachwuchs/promotion.html">Young
          researchers</a></li>
        <li><a class="zielgruppe"
               href="https://www.uni-hamburg.de/en/forschung.html">Researchers</a></li>
        <li><a class="zielgruppe" href="https://www.intranet.uni-hamburg.de/en.html">Staff</a>
        </li>
        <li><a class="zielgruppe" href="https://www.uni-hamburg.de/en/service/weiterbildung.html">Prospective
          continuing education students</a></li>
        <li><a target="_blank" class="zielgruppe"
               href="http://www.alumni-uhh.de/en/home/news.html">Alumni</a></li>
        <li><a class="zielgruppe"
               href="https://www.uni-hamburg.de/en/newsroom/pressemitteilungen.html">Journalists</a>
        </li>
        <li><a class="zielgruppe" href="https://www.uni-hamburg.de/en/uhhhilft.html">Refugees</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container-fluid content-container-fluid">
    <img src="assets/images/dspace-logo.png"/>
    <p>
      <a href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
      {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
      <a href="http://www.duraspace.org/">{{ 'footer.link.duraspace' | translate}}</a>
    </p>
  </div>
</footer>
